.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1em 0;

  .box-header {
    flex-grow: 0;
    padding: 1em;
  }
  .box-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1em;
  }
  .box-footer {
    flex-grow: 0;
    padding: 1em;
  }
}
