#app-root {
  .mastcontainer {
    background-color: #fff;
    .actionbar {
      top: 0;
      position: relative;
      width: 100%;
      margin-bottom: 1em;
    }

    > .row {
      margin: 0;
      width: 100%;
    }
  }
  .mastfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    color: #000;
    text-align: center;
    p {
      margin: 0;
    }
  }
}
