.sidepanel {
  position: fixed;
  top: 4em;
  left: 6.25rem;
  max-width: 40vw;
  min-width: 20vw;
  height: calc(100vh - 4em);
  background-color: lighten($primary, 5%);
  opacity: 0.9;
  z-index: 9999;
  color: #fff;

  .sidepanel-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5em;
    font-size: 1em;
    color: #fff;
  }

  .sidepanel-wrapper {
    width: 100%;
    height: 100%;

    & > div:nth-child(1):last-child {
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }
}
